<nav role="navigation">
  <div class="nav-wrapper container">
    <ul id="dropdown1" class="dropdown-content">
      <% @cities.each do |city| %>
        <li><a href="<%= set_city_path(city) %>"><%= city.name %></a></li>
      <% end if @cities.present? %>
    </ul>
    <%= link_to "SurHut", root_path, :id => "logo-container", class: "brand-logo white-text" %>
    <ul class="right hide-on-med-and-down">
      <% if current_user %>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
        <li class="waves-effect"><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'head-link white-text' %></li>
      <% else %>
        <li class="waves-effect"><%= link_to 'Login', new_user_session_path, class: 'head-link white-text' %></li>
      <% end %> 
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><%= link_to 'Login', new_user_session_path %></li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <a class="dropdown-button" href="#!" data-activates="dropdown1"><%= city_dropdown_text %><i class="material-icons right">arrow_drop_down</i></a>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse white-text"><i class="material-icons">menu</i></a>
  </div>
</nav>
